.navContainer {
  align-items: center;
  background: var(--background);
  display: flex;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  justify-content: space-between;
  margin: 0 20px 36px;
  transition: all 1s ease;
}

.navTitle {
  color: var(--title-color);
  margin: 0;
  transition: all 1s ease;
}

.colorModeContainer {
  align-items: center;
  display: flex;
}

.colorModeText {
  color: var(--text);
  transition: all 1s ease;
}

.fa-toggle-on {
  color: var(--text);
  cursor: pointer;
  margin-left: 9px;
  transition: all 1s ease;
}

.moonIcon {
  margin-left: 10px;
  transition: all 1s ease;
}
